---
- name: Visual Studio Code | Prerequisites
  ansible.builtin.import_tasks: prerequisites.yml

- name: Visual Studio Code | Set Fact for code bin environment
  ansible.builtin.set_fact:
      code_rv_tmp_bin_env:
          DONT_PROMPT_WSL_INSTALL: true
          PATH: "{{ code_rv_bin_dir }}:{{ ansible_facts['env'].PATH }}"

- name: Visual Studio Code | Get code version
  ansible.builtin.set_fact:
      code_version_details: "{{ lookup('arpanrec.nebula.version_db', 'code',
          code_rv_version=code_rv_version) | from_json }}"

- name: Visual Studio Code | Get downloaded file stat
  ansible.builtin.stat:
      path: "{{ code_rv_tarball_download_path }}"
  register: pv_ua_code_tmp_downloaded_file_stat

- name: Visual Studio Code | Install | Create install directories
  ansible.builtin.file:
      path: "{{ item }}"
      state: directory
      mode: "0700"
  with_items:
      - "{{ code_rv_tmp_dir }}"
      - "{{ code_rv_bin_dir }}"
      - "{{ code_rv_xdg_icon_dir }}"

- name: Visual Studio Code | Install
  when: not pv_ua_code_tmp_downloaded_file_stat.stat.exists
  block:
      - name: Visual Studio Code | Install | Download tarball
        ansible.builtin.get_url:
            url: "{{ code_version_details.download_link }}"
            checksum: "{{ code_version_details.checksum | default(omit) }}"
            dest: "{{ code_rv_tarball_download_path }}"
            mode: "0700"

      - name: Visual Studio Code | Install | Remove old install
        ansible.builtin.file:
            path: "{{ code_rv_install_path }}"
            state: absent

      - name: Visual Studio Code | Install | Recreate install directory
        ansible.builtin.file:
            path: "{{ code_rv_install_path }}"
            state: directory
            mode: "0700"

      - name: Visual Studio Code | Install | Unarchive the tarball
        ansible.builtin.unarchive:
            src: "{{ code_rv_tarball_download_path }}"
            dest: "{{ code_rv_install_path }}"
            extra_opts: [--strip-components=1]
            remote_src: true
  rescue:
      - name: Visual Studio Code | Install | Download tarball | Remove tarball
        ansible.builtin.file:
            path: "{{ item }}"
            state: absent
        with_items:
            - "{{ code_rv_tarball_download_path }}"
            - "{{ code_rv_install_path }}"

      - name: Visual Studio Code | Install | Download tarball | Fail
        ansible.builtin.fail:
            msg: "Failed to download Visual Studio Code tarball"

- name: Visual Studio Code | Install | Create symlink to bin
  ansible.builtin.file:
      src: "{{ code_rv_install_path }}/bin/code"
      dest: "{{ code_rv_bin_dir }}/code"
      state: link

- name: Visual Studio Code | Install | Create desktop icon
  ansible.builtin.template:
      src: templates/code-userapps.desktop.j2
      dest: "{{ code_rv_xdg_icon_path }}"
      mode: "0600"

- name: Visual Studio Code | Install | Create URL handler
  ansible.builtin.template:
      src: templates/code-url-handler-userapps.desktop.j2
      dest: "{{ code_rv_xdg_uri_handler_path }}"
      mode: "0600"

- name: Visual Studio Code | Install Extensions
  ansible.builtin.include_tasks: code_extensions.yml
  with_items: "{{ code_rv_ext_to_be_installed }}"

- name: Visual Studio Code | Copy Config
  ansible.builtin.import_tasks: code_config.yml
