ansible-compat==4.1.11 ; python_version >= "3.10" and python_version < "4.0"
ansible-core==2.16.3 ; python_version >= "3.10" and python_version < "4.0"
ansible-lint==6.22.2 ; python_version >= "3.10" and python_version < "4.0" and platform_system != "Windows"
ansible==9.1.0 ; python_version >= "3.10" and python_version < "4.0"
astroid==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
autopep8==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
bcrypt==4.1.2 ; python_version >= "3.10" and python_version < "4.0"
black==23.12.1 ; python_version >= "3.10" and python_version < "4.0"
bracex==2.4 ; python_version >= "3.10" and python_version < "4.0"
build==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
cachecontrol[filecache]==0.13.1 ; python_version >= "3.10" and python_version < "4.0"
cattrs==23.2.3 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
cleo==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
click-help-colors==0.9.4 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows" or os_name == "nt")
crashtest==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
cryptography==41.0.7 ; python_version >= "3.10" and python_version < "4.0"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "4.0"
dill==0.3.8 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.10" and python_version < "4.0"
docker==6.1.3 ; python_version >= "3.10" and python_version < "4.0"
docstring-to-markdown==0.13 ; python_version >= "3.10" and python_version < "4.0"
dulwich==0.21.7 ; python_version >= "3.10" and python_version < "4.0"
enrich==1.2.7 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
fastjsonschema==2.19.1 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.10" and python_version < "4.0"
flake8==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
hvac==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.6 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==7.0.1 ; python_version >= "3.10" and python_version < "3.12"
installer==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.10" and python_version < "4.0"
jaraco-classes==3.3.0 ; python_version >= "3.10" and python_version < "4.0"
jedi-language-server==0.41.2 ; python_version >= "3.10" and python_version < "4.0"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux"
jinja2==3.1.3 ; python_version >= "3.10" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.21.1 ; python_version >= "3.10" and python_version < "4.0"
keyring==24.3.0 ; python_version >= "3.10" and python_version < "4.0"
lsprotocol==2023.0.1 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.4 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
molecule-plugins==23.5.0 ; python_version >= "3.10" and python_version < "4.0"
molecule==6.0.3 ; python_version >= "3.10" and python_version < "4.0"
more-itertools==10.2.0 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.7 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0"
parso==0.8.3 ; python_version >= "3.10" and python_version < "4.0"
passlib==1.7.4 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
pkginfo==1.9.6 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==3.11.0 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
poetry-core==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
poetry-plugin-export==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
poetry==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
pycodestyle==2.11.1 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pyflakes==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
pygithub==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
pygls==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "4.0"
pyjwt[crypto]==2.8.0 ; python_version >= "3.10" and python_version < "4.0"
pylint==3.0.3 ; python_version >= "3.10" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
pyproject-hooks==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-gitlab==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
python-gnupg==0.5.2 ; python_version >= "3.10" and python_version < "4.0"
pywin32-ctypes==0.2.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
pywin32==306 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
rapidfuzz==3.6.1 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.33.0 ; python_version >= "3.10" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
resolvelib==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
rich==13.7.0 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.17.1 ; python_version >= "3.10" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.10" and platform_system != "Windows"
ruamel-yaml==0.18.5 ; python_version >= "3.10" and python_version < "4.0" and platform_system != "Windows"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "4.0"
subprocess-tee==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.12.3 ; python_version >= "3.10" and python_version < "4.0"
trove-classifiers==2024.1.8 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
virtualenv==20.25.0 ; python_version >= "3.10" and python_version < "4.0"
wcmatch==8.5 ; python_version >= "3.10" and python_version < "4.0"
websocket-client==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
xattr==0.10.1 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "darwin"
yamllint==1.33.0 ; python_version >= "3.10" and python_version < "4.0" and platform_system != "Windows"
zipp==3.17.0 ; python_version >= "3.10" and python_version < "3.12"
