---
- name: Installing apps in user $HOME directory
  hosts: server_workspace
  tasks:
      - name: USERAPPS | NodeJS
        ansible.builtin.include_role:
            name: arpanrec.nebula.nodejs
        tags:
            - nodejs
        args:
            apply:
                tags:
                    - nodejs

      - name: USERAPPS | Go Language
        ansible.builtin.include_role:
            name: arpanrec.nebula.go
        tags:
            - go
        args:
            apply:
                tags:
                    - go

      - name: USERAPPS | Oracle Java
        ansible.builtin.include_role:
            name: arpanrec.nebula.java
        tags:
            - java
        args:
            apply:
                tags:
                    - java

      - name: USERAPPS | Themes
        ansible.builtin.include_role:
            name: arpanrec.nebula.themes
        tags:
            - themes
        args:
            apply:
                tags:
                    - themes
                    - never

      - name: USERAPPS | Terminal
        ansible.builtin.include_role:
            name: arpanrec.nebula.terminal
        tags:
            - terminal
        args:
            apply:
                tags:
                    - terminal

      - name: USERAPPS | Hadolint
        ansible.builtin.include_role:
            name: arpanrec.nebula.hadolint
        tags:
            - hadolint
        args:
            apply:
                tags:
                    - hadolint
