---
- name: Installing apps in user $HOME directory
  hosts: server_workspace
  tasks:
      - name: USERAPPS | Mattermost
        ansible.builtin.include_role:
            name: arpanrec.nebula.mattermost_desktop
        args:
            apply:
                tags:
                    - mattermost_desktop
                    - never
        tags:
            - mattermost_desktop
            - never

      - name: USERAPPS | Telegram Desktop
        ansible.builtin.include_role:
            name: arpanrec.nebula.telegram_desktop
        args:
            apply:
                tags:
                    - telegram_desktop
                    - never
        tags:
            - telegram_desktop
            - never

      - name: USERAPPS | NodeJS
        ansible.builtin.include_role:
            name: arpanrec.nebula.nodejs
        tags:
            - nodejs
        args:
            apply:
                tags:
                    - nodejs

      - name: USERAPPS | Postman
        ansible.builtin.include_role:
            name: arpanrec.nebula.postman
        tags:
            - postman
            - never
        args:
            apply:
                tags:
                    - postman
                    - never

      - name: USERAPPS | Go Language
        ansible.builtin.include_role:
            name: arpanrec.nebula.go
        tags:
            - go
        args:
            apply:
                tags:
                    - go

      - name: USERAPPS | Oracle Java
        ansible.builtin.include_role:
            name: arpanrec.nebula.java
        tags:
            - java
        args:
            apply:
                tags:
                    - java

      - name: USERAPPS | Visual Studio Code
        ansible.builtin.include_role:
            name: arpanrec.nebula.code
        tags:
            - code
            - never
        args:
            apply:
                tags:
                    - code
                    - never

      - name: USERAPPS | Themes
        ansible.builtin.include_role:
            name: arpanrec.nebula.themes
        tags:
            - themes
        args:
            apply:
                tags:
                    - themes
                    - never

      - name: USERAPPS | Terminal
        ansible.builtin.include_role:
            name: arpanrec.nebula.terminal
        tags:
            - terminal
        args:
            apply:
                tags:
                    - terminal

      - name: USERAPPS | Gnome Setup
        ansible.builtin.include_role:
            name: arpanrec.nebula.gnome
        tags:
            - gnome
            - never
        args:
            apply:
                tags:
                    - gnome
                    - never

      - name: USERAPPS | Terraform
        ansible.builtin.include_role:
            name: arpanrec.nebula.terraform
        tags:
            - terraform
        args:
            apply:
                tags:
                    - terraform

      - name: USERAPPS | Hashicorp Vault
        ansible.builtin.include_role:
            name: arpanrec.nebula.vault
        tags:
            - vault
        args:
            apply:
                tags:
                    - vault

      - name: USERAPPS | Pulumi
        ansible.builtin.include_role:
            name: arpanrec.nebula.pulumi
        tags:
            - pulumi
        args:
            apply:
                tags:
                    - pulumi

      - name: USERAPPS | Hadolint
        ansible.builtin.include_role:
            name: arpanrec.nebula.hadolint
        tags:
            - hadolint
        args:
            apply:
                tags:
                    - hadolint
