---
name: Ansible Lint

"on":
    workflow_dispatch:
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    UV_MANAGED_PYTHON: "true"
    UV_LOCKED: "true"

jobs:
    ansible-lint:
        timeout-minutes: 60
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.12.11", "3.13.7", "3.14.0"]
        name: ansible-lint
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.0

            - name: Install uv 0.9.12
              uses: astral-sh/setup-uv@v7.1.4
              with:
                  version: 0.9.12
                  python-version: "${{ matrix.python-version }}"
                  enable-cache: true
                  cache-suffix: python-${{ matrix.python-version }}
                  cache-dependency-glob: |
                      **/uv.lock

            - name: Cache ansible
              uses: actions/cache@v4.3.0
              with:
                  path: |
                      ~/.ansible
                      ~/.cache/ansible-*
                  key: ansible-cache-py.${{ matrix.python-version }}-${{ hashFiles('**/requirements.yml') }}

            - name: Install dependencies
              run: |+
                  uv run python --version
                  uv sync --extra dev
                  uv run ansible-galaxy install -r requirements.yml
              env:
                  UV_PYTHON: ${{ matrix.python-version }}

            - name: Analyzing the code with ansible-lint
              run: uv run ansible-lint
              env:
                  UV_PYTHON: ${{ matrix.python-version }}
