---
name: Lint Collection Docs

"on":
    workflow_dispatch:
    pull_request:
        paths:
            - "**.py"
            - ".github/workflows/lint-collection-docs.yml"
            - "uv.lock"
            - "pyproject.toml"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    UV_MANAGED_PYTHON: "true"
    UV_LOCKED: "true"

jobs:
    lint-collection-docs:
        timeout-minutes: 60
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.12.11", "3.13.7", "3.14.0"]
        name: lint-collection-docs
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.0

            - name: Install uv 0.9.12
              uses: astral-sh/setup-uv@v7.1.4
              with:
                  version: 0.9.12
                  python-version: "${{ matrix.python-version }}"
                  enable-cache: true
                  cache-suffix: python-${{ matrix.python-version }}
                  cache-dependency-glob: |
                      **/uv.lock

            - name: Install dependencies
              run: |+
                  uv run python --version
                  uv sync --extra dev
              env:
                  UV_PYTHON: ${{ matrix.python-version }}

            - name: Analyzing the code with lint-collection-docs
              run: uv run antsibull-docs lint-collection-docs . --plugin-docs
              env:
                  UV_PYTHON: ${{ matrix.python-version }}
